<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/estilos/style.css">
</head>
<body>
    <header>
        <a href="/"> Home </a> | <a href=""> Shrine of Secrets </a> | <a href=""> Survivors </a> | <a href=""> Killers </a> | <a href=""> Maps </a>
    </header>
    <div>
        <h1> Dead by Sandro's Light</h1>
        <p> Dead by Daylight é um jogo eletrônico multijogador online assimétrico de sobreivência e horror desenvolvido pela Behaviour Interactive. O jogo é jogado em um modo um contra quatro, onde um jogador assume o papel de um assassino, e os outros quatro jogam como sobreviventes, tendo que escapar do assassino e reparando cinco geradores para abrir os portões de saída e evitarem de serem capturados, enganchados e sacrificados. </p>
        <b> Santuário dos Segredos </b> <p> Onde você encontra quais perks estão disponíveis no santuário essa semana. </p>
        <b> Sobreviventes </b> <p> Escolha um sobrevivente para ver suas estatísticas. </p>
        <b> Assassinos </b> <p> Escolha um assassino para ver suas estatísticas. </p>
        <b> Mapas </b> <p> Escolha um mapa para ver informações e estatísticas relacionadas a ele. </p>
    
    </div>
    <footer>
        <h3> LinkedIn | Github | Twitch | Instagram </h3>
        <h5> © 2023, Sandro Roberto Pimentel Junior. Todos os direitos reservados. </h5>
    </footer>
</body>
</html>