<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <a class="header__nav__link" href=""> Home </a>
            <a class="header__nav__link" href=""> Shrine of Secrets </a>
            <a class="header__nav__link" href=""> Survivors </a>
            <a class="header__nav__link" href=""> Killers </a>
            <a class="header__nav__link" href=""> Maps </a>
        </nav>
    </header>
    <main class="main">
        <section class="main__content">
            <h1 class="main__content__title"> Dead by Daylight</h1>
            <p class="main__content__text"> Dead by Daylight é um jogo eletrônico multijogador online assimétrico de sobreivência e horror desenvolvido pela Behaviour Interactive. O jogo é jogado em um modo um contra quatro, onde um jogador assume o papel de um assassino, e os outros quatro jogam como sobreviventes, tendo que escapar do assassino e reparando cinco geradores para abrir os portões de saída e evitarem de serem capturados, enganchados e sacrificados. </p>
            <h1 class="main__content__block__title"> Sobre as páginas </h1>
            <section class="main__content__blocks">
                <div class="main__content__blocks__content">
                    <b> Santuário dos Segredos </b> 
                    <p> Onde você encontra quais perks estão disponíveis no santuário essa semana. </p>
                </div>
                <div class="main__content__blocks__content">
                    <b> Sobreviventes </b> 
                    <p> Escolha um sobrevivente para ver suas estatísticas. </p>
                </div>
                <div class="main__content__blocks__content">
                    <b> Assassinos </b> 
                    <p> Escolha um assassino para ver suas estatísticas. </p>
                </div>
                <div class="main__content__blocks__content">
                    <b> Mapas </b> 
                    <p> Escolha um mapa para ver informações e estatísticas relacionadas a ele. </p>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <h3> LinkedIn | Github | Twitch | Instagram </h3>
        <h5> © 2023, Sandro Roberto Pimentel Junior. Todos os direitos reservados. </h5>
    </footer>
</body>
</html>