<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./styles/style.css')}}">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <a class="header__nav__link" href="/index"> Home </a>
            <a class="header__nav__link" href="/shrine"> Shrine of Secrets </a>
            <a class="header__nav__link" href="/survs"> Survivors </a>
            <a class="header__nav__link" href="/killers"> Killers </a>
            <a class="header__nav__link" href="/maps"> Maps </a>
        </nav>
    </header>
    <main class="main">
        <section class="main__content">
            <h1 class="main__content__title"> Dead by Daylight</h1>
            <section class="main__content__content">
				<p class="main__content__text"> Dead by Daylight é um jogo eletrônico multijogador online assimétrico de sobreivência e horror desenvolvido pela Behaviour Interactive. O jogo é jogado em um modo um contra quatro, onde um jogador assume o papel de um assassino, e os outros quatro jogam como sobreviventes, tendo que escapar do assassino e reparando cinco geradores para abrir os portões de saída e evitarem de serem capturados, enganchados e sacrificados. </p>
				<hr>
                <img class="main__content__image" src="../static/assets/dbd.jpg" alt="imagem dbd">
			</section>
				<h1 class="main__content__block__title"> Sobre as páginas </h1>
			<section class="main__content__blocks">
                <div class="main__content__blocks__content">
                    <b> Santuário dos Segredos </b> 
                    <p> Onde você encontra quais perks estão disponíveis no santuário essa semana. </p>
                </div>
                <div class="main__content__blocks__content">
                    <b> Sobreviventes </b> 
                    <p> Escolha um sobrevivente para ver suas estatísticas. </p>
                </div>
                <div class="main__content__blocks__content">
                    <b> Assassinos </b> 
                    <p> Escolha um assassino para ver suas estatísticas. </p>
                </div>
                <div class="main__content__blocks__content">
                    <b> Mapas </b> 
                    <p> Escolha um mapa para ver informações e estatísticas relacionadas a ele. </p>
                </div>
            </section>
        </section>
    </main>
    <footer class="footer">
		<nav class="footer__nav">
            <div class="footer__nav__net">
                <img class="footer__nav__img" src="../static/assets/linkedin.png" alt="LinkedIn">
			    <a class="footer__nav__link" href="https://www.linkedin.com/in/sandro-roberto-pimentel-junior-1287a3254/"> LinkedIn </a>
			</div>
            <div class="footer__nav__net">
                <img class="footer__nav__img" src="../static/assets/github.png" alt="Github">
                <a class="footer__nav__link" href="https://github.com/Sandro-Pimentel"> Github </a>
            </div>
            <div class="footer__nav__net">
                <img class="footer__nav__img" src="../static/assets/twitch.png" alt="Twitch">
                <a class="footer__nav__link" href="https://www.twitch.tv/r4ptorzer0"> Twitch </a>
            </div>
            <div class="footer__nav__net">
                <img class="footer__nav__img" src="../static/assets/youtube.png" alt="Youtube">
                <a class="footer__nav__link" href="https://www.youtube.com/channel/UC1-F474izCmymDE0oujMfeA"> Youtube </a>
            </div>
        </nav>
		<h5 class="footer__content"> © 2023, Sandro Roberto Pimentel Junior. Todos os direitos reservados. </h5>
    </footer>
</body>
</html>