@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200;400&display=swap');

:root {
    --family: 'Josefin Slab', serif;
    
    /* CORES */
    --font: #F6F6F6;
    --bg: #1F0000;
    --cont-bg: #381111;
    --nav: #6B0000;
    --nav-font: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100hv;
    color: var(--font);
    background-color: var(--bg);
    font-family: var(--family);
    box-sizing: border-box;
}

.header {
    background-color: var(--nav);
    padding: 2% 0 2% 10%;
}

.header__nav {
    display: flex;
    gap: 1.5rem;
}

.header__nav__link {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--nav-font);
    font-family: var(--family);
    font-weight: 400;
}

.header__nav__link:hover {
    color: #E15144;
}

.main {
    margin: 0 10% 0 10%;
}

.main__content {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 2rem;
    align-items: center;
    background-color: var(--cont-bg);
}

.main__content__title {
    font-size: 2.5rem;
}

.main__content__content {
    display: flex;
    width: auto;
    gap: 2rem;
}

.main__content__text {
    font-size: 1.5rem;
    text-align: justify;
}

.main__content__image {
    border: #000000 solid 4px;
	height: 15rem;
    align-self: center;
}

.main__content__image2 {
    border: #000000 solid 4px;
	height: 17rem;
    align-self: center;
}

.main__content__blocks {
    display: flex;
    gap: 2rem;
}

.main__content__block__title {
    font-size: 1.875rem;
}

.main__content__blocks__content {
    width: 13.5rem;
    height: 4.5rem;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    padding: 1%;
}

.footer {
	display: flex;
    justify-content: space-between;
	background-color: var(--nav);
    padding: 2% 10% 2% 10%;
}

.footer__nav {
	display: flex;
    gap: 1.5rem;
}

.footer__nav__img {
    width: 1.25rem;
    height: 1.25rem;
}

.footer__nav__img2 {
    width: 1.68rem;
    height: 1.25rem;
}

.footer__nav__link {
	font-size: 1.25rem;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--family);
    font-weight: 400;
    padding-top: 0.25rem;
}

.footer__nav__link:hover {
    color: #E15144;
}

.footer__content {
	padding-top: 0.5rem;
}