body{
    background-color: black;
    background-image: url(../imagens/fundo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    font-size: 150%;
    font-family: DejaVu Sans Mono, monospace;
    margin-left: 1%;
}

a{

}
a:hover{

}

footer{

}

h5{
    text-align: center;
}

h3{
    text-align: right;
    padding-right: 2%;
}